<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper.xml 유효성 검사 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club">
		<resultMap type="map" id="clubListMap">
		<result column="CLUB_CODE" property="clubCode"/>
		<result column="INTERESTING_CODE" property="interestingCode"/>
		<result column="MEMBER_CODE" property="memberCode"/>
		<result column="LOCAL_CODE" property="localCode"/>
		<result column="CLUB_NAME" property="clubName"/>
		<result column="CLUB_SIMPLE_INFO" property="clubsimpleInfo"/>
		<result column="CLUB_INFO" property="clubInfo"/>
		<result column="MAIN_ORIGINAL_FILENAME" property="mainoriginalFilename"/>
		<result column="MAIN_RENAMED_FILENAME" property="mainrenamedFilename"/>
		<result column="CLUB_MEMBER_COUNT" property="clubmemberCount"/>
		<result column="CLUB_ADMIN" property="clubAdmin"/>
		</resultMap>
		
		<resultMap type="club" id="clubMemberMap">
		<id column="CLUB_CODE" property="clubCode"/>
		<result column="INTERESTING_CODE" property="interestingCode"/>
		<result column="MEMBER_CODE" property="memberCode"/>
		<result column="LOCAL_CODE" property="localCode"/>
		<result column="CLUB_NAME" property="clubName"/>
		<result column="CLUB_SIMPLE_INFO" property="clubsimpleInfo"/>
		<result column="CLUB_INFO" property="clubInfo"/>
		<result column="MAIN_ORIGINAL_FILENAME" property="mainoriginalFilename"/>
		<result column="MAIN_RENAMED_FILENAME" property="mainrenamedFilename"/>
		<result column="CLUB_ADMIN" property="clubAdmin"/>
		
		<collection property="clubMember" ofType="clubmember" >
			<result column="CLUB_CODE" 	property="clubCode"/>
			<result column="CLUB_MEMBER_CODE" property="clubmemberCode"/>
			<result column="CLUB_MEM_GRADE" property="clubmemGrade"/>
			<result column="CLUB_JOIN_CHECK" property="clubjoinCheck"/>
		</collection>	
		</resultMap>
		
		
		<resultMap type="map" id="clubcontentMap">
		<result column="CLUB_CONTENT_CODE" property="clubcontentCode"/>
		<result column="CLUB_CODE" property="clubCode"/>
		<result column="MEMBER_CODE" property="memberCode"/>
		<result column="CONTENT_TITLE" property="contentTitle"/>
		<result column="CONTENT" property="content"/>
		<result column="WRITE_LEVEL" property="writeLevel"/>
		<result column="WRITE_DATE" property="writeDate"/>
		<result column="MEMBER_NICKNAME" property="memberNickname"/>
		</resultMap>
		
		
	<select id="selectClubList" resultMap="clubListMap">
	select C.*,(select count(*) from club_member where CLUB_CODE = C.CLUB_CODE AND CLUB_JOIN_CHECK ='Y') CLUB_MEMBER_COUNT,(select NICKNAME FROM MEMBER WHERE MEMBER_CODE = C.MEMBER_CODE) CLUB_ADMIN
	from club C 
	order by CLUB_CODE DESC
	</select>
	
	<select id="totalclubCount" resultType="_int">
	select count(*) from club
	</select>
	
	<insert id="insertClub" >
		insert into club values(seq_club.nextval,#{interestingCode},#{memberCode},seq_local_code.nextval,#{clubName},#{clubsimpleInfo},#{clubInfo},#{mainoriginalFilename},#{mainrenamedFilename})
		<selectKey keyProperty="clubCode" resultType="Integer" order="AFTER"> 
			SELECT seq_club.currval FROM dual 
		</selectKey>
	</insert>
	

	<insert id="insertClubAdmin" >
		insert into club_member values(#{clubCode},#{memberCode},2,'Y')
	</insert>
	
	<select id="selectOneClub" resultMap="clubMemberMap">
		select L.*,M.* 
		from club L left join club_member M on L.CLUB_CODE = M.CLUB_CODE
		where M.club_code = #{clubCode} and M.CLUB_JOIN_CHECK ='Y'
	</select>
	
	<select id="searchClubAdmin" resultType="java.lang.String">
		select NICKNAME from member  where MEMBER_CODE = #{memberCode} 
	</select>
	
	<insert id="insertclubContent1">
		insert into club_content values(seq_club_photo.nextval,#{clubCode},#{memberCode},#{contentTitle},#{content},#{writeLevel},sysdate)
	</insert>
	
	
	<select id="selectcontentList" resultMap="clubcontentMap">
	select C.*,(select M.NICKNAME from member M where M.MEMBER_CODE = C.MEMBER_CODE)  MEMBER_NICKNAME
	from club_content C 
	where c.club_code=#{clubCode} and c.write_level =1
	</select>
	
	<select id="selectClubcontentOne" resultType="clubcontent">
	 	select C.*,(select M.NICKNAME from member M where M.MEMBER_CODE = C.MEMBER_CODE)  MEMBER_NICKNAME
		from club_content C 
		where C.club_content_code = #{contentCode} 
	</select>
	
</mapper>
