<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="map">
	<select id="selectAddress" resultType="string">
		select address from address where member_code=#{memberCode}
	</select>
	
	<select id="findFriend" resultType="map">
		select * from member M join address A using(member_code) join member_interesting B using(member_code)
		where address like '%'||#{result}||'%' and member_code not in #{memberCode} and friend_open = #{searchCode}
	</select>
	
	<select id="selectMyAddress" resultType="map">
		select place_lat, place_lng from address where member_code=#{memberCode}
	</select>
	
	<update id="enrollInfoCheck">
		update member
		set friend_open = #{infocheck}
		where member_code = #{memberCode}
	</update>
	
	<insert id="enrollInteresting">
		insert into member_interesting values(#{memberCode}, #{str})
	</insert>
	
	<select id="checkInfo" resultType="string">
		select friend_open from member where member_code=#{memberCode}
	</select>
</mapper>