<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper.xml 유효성 검사 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lightning">
	<resultMap type="map" id="matchManagerMap">
		<result column="match_no" property="matchNo"/>
		<result column="match_title" property="matchTitle"/>
		<result column="member_code" property="memberCode"/>
		<result column="interesting_code" property="interestingCode"/>
		<result column="local_code" property="localCode"/>
		<result column="place_name" property="placeName"/>
		<result column="place_lat" property="placeLat"/>
		<result column="place_lng" property="placeLng"/>
		<result column="matching_type" property="matchingType"/>
		<result column="match_end_date" property="matchEndDate"/>
		<result column="match_renamed_img" property="matchRenamedImg"/>
		<result column="nickname" property="nickName"/>
		<result column="local_name" property="localName"/>
		<result column="city_name" property="cityName"/>
		<result column="interesting_name" property="interestingName"/>
		<result column="member_count" property="memberCount"/>
		<result column="match_content" property="matchContent" typeHandler="stringToLongTypeHandler"/>
	</resultMap>
	
	<resultMap type="map" id="joinMember">
		<result column="match_no" property="matchNo"/>
		<result column="nickname" property="nickName"/>	
	</resultMap>
	
	<resultMap type="map" id="cityMap">
		<result column="city_code" property="cityCode"/>
		<result column="city_name" property="cityName"/>
	</resultMap>
	
	<resultMap type="map" id="localMap">
		<result column="local_code" property="localCode"/>
		<result column="local_name" property="localName"/>
	</resultMap>
	
	<resultMap type="map" id="interestingMap">
		<result column="interesting_code" property="interestingCode"/>
		<result column="interesting_name" property="interestingName"/>
	</resultMap>
	
	<select id="selectLightningList" resultMap="matchManagerMap">
		select M.match_no, M.match_title, M.member_code, M.interesting_code, M.local_code, M.place_name, M.place_lat, 
			   M.place_lng, M.matching_type, to_char(M.match_end_date,'yyyy-mm-dd hh24:mi') match_end_date, M.match_renamed_img,
			   A.nickname, 
			   I.interesting_name, 
			   L.local_name ,
			   C.city_name,
			   (select count(*) from matching_join_member where match_no = M.match_no and join_check = 'Y' and permit_check = 'Y') member_count,
			   M.match_content
		from match_manager M 
	        left join member A on M.member_code = A.member_code
	        left join interesting I on M.interesting_code = I.interesting_code
	        left join local L on M.local_code = L.local_code
	        left join city C on L.city_code = C.city_code
		where matching_type = #{matchingType}
		<if test="title != null and title != ''">
		and match_title like '%'||#{title}||'%'
		</if>
		<if test="local != null and local != 0">
		and M.local_code = #{local}
		</if>
		<if test="nickName != null and nickName != ''">
		and N.nickname like '%'||#{nickName}||'%'
		</if>
		<if test="interesting != null and interesting != 0">
		and M.interesting_code = #{interesting}
		</if>
		<if test="city != null and city != 0">
		and L.city_code = #{city}
		</if>
		order by match_no desc
	</select>
	
	<select id="selectMyLightningList" resultMap="matchManagerMap">
		select M.match_no, M.match_title, M.member_code, M.interesting_code, M.local_code, M.place_name, M.place_lat, 
			   M.place_lng, M.matching_type, to_char(M.match_end_date,'yyyy-mm-dd hh24:mi') match_end_date, M.match_renamed_img,
			   A.nickname, 
			   I.interesting_name, 
			   L.local_name ,
			   C.city_name,
			   (select count(*) from matching_join_member where match_no = M.match_no and join_check = 'Y' and permit_check = 'Y') member_count,
			   M.match_content
		from match_manager M 
	        left join member A on M.member_code = A.member_code
	        left join interesting I on M.interesting_code = I.interesting_code
	        left join local L on M.local_code = L.local_code
	        left join city C on L.city_code = C.city_code
		where matching_type = 'L' and M.member_code = #{memberCode}
		order by match_no desc
	</select>
	
	<select id="selectLightningMatch" resultMap="matchManagerMap">
		select M.match_no, M.match_title, M.member_code, M.interesting_code, M.local_code, M.place_name, M.place_lat, 
			   M.place_lng, M.matching_type, to_char(M.match_end_date,'yyyy-mm-dd hh24:mi') match_end_date, M.match_renamed_img,
			   A.nickname, 
			   I.interesting_name, 
			   L.local_name ,
			   C.city_name,
			   (select count(*) from matching_join_member where match_no = M.match_no and join_check = 'Y' and permit_check = 'Y') member_count,
			   M.match_content
		from match_manager M 
	        left join member A on M.member_code = A.member_code
	        left join interesting I on M.interesting_code = I.interesting_code
	        left join local L on M.local_code = L.local_code
	        left join city C on L.city_code = C.city_code
		where matching_type = 'L' and match_no = #{matchNo}
	</select>
	
	<select id="selectJoinLightningList" resultMap="matchManagerMap">
		select M.match_no, M.match_title, M.member_code, M.interesting_code, M.local_code, M.place_name, M.place_lat, 
			   M.place_lng, M.matching_type, to_char(M.match_end_date,'yyyy-mm-dd hh24:mi') match_end_date, M.match_renamed_img,
			   A.nickname, 
			   I.interesting_name, 
			   L.local_name ,
			   C.city_name,
			   (select count(*) from matching_join_member where match_no = M.match_no and join_check = 'Y' and permit_check = 'Y') member_count,
			   M.match_content
		from match_manager M 
	        left join member A on M.member_code = A.member_code
	        left join interesting I on M.interesting_code = I.interesting_code
	        left join local L on M.local_code = L.local_code
	        left join city C on L.city_code = C.city_code
		where matching_type = 'L' 
		<if test="matchCodeList != null">
			<foreach collection="matchCodeList" item="e" open="and " separator=" or " >
			match_no = #{e.matchNo}
			</foreach>
		</if>
		order by M.match_no desc
	</select>
	
	<insert id="insertLightning">
		insert into match_manager 
		values(seq_match_no.nextval, #{matchManager.matchTitle}, #{matchManager.memberCode}, #{matchManager.interestingCode}, #{matchManager.localCode}, 
				#{matchManager.placeName}, #{matchManager.placeLat}, #{matchManager.placeLng}, #{matchManager.matchingType}, 
				#{matchManager.matchContent}, #{matchManager.matchOriginalImg}, #{matchManager.matchRenamedImg}, sysdate, to_date(#{matchEndDate}, 'yyyy-mm-dd hh24:mi'))
	</insert>
	
	<update id="updateLightning">
		update match_manager 
		set match_title = #{matchManager.matchTitle}, interesting_code = #{matchManager.interestingCode}, local_code = #{matchManager.localCode}, 
			place_name = #{matchManager.placeName}, place_lat = #{matchManager.placeLat}, place_lng = #{matchManager.placeLng}, 
			match_content = #{matchManager.matchContent}, match_original_img = #{matchManager.matchOriginalImg}, 
			match_renamed_img = #{matchManager.matchRenamedImg}, match_write_date = sysdate, match_end_date = to_date(#{matchEndDate}, 'yyyy-mm-dd hh24:mi')
		where match_no = #{matchManager.matchNo}
	</update>
	
	<select id="selectJoinMemberList" resultMap="joinMember">
		select J.match_no, M.nickname
		from matching_join_member J left join member M on J.member_code = M.member_code
		where J.permit_check = 'Y' and J.join_check = 'Y' 
		<if test="joinMemberList != null">
		and J.match_no in 
		<foreach collection="matchNo" item="e" open="(" close=")" separator=",">
		#{e}
		</foreach>
		</if>
	</select>
	
	<select id="selectMyMatchJoinMemberList" resultMap="joinMember">
		select J.match_no, M.nickname
		from matching_join_member J left join member M on J.member_code = M.member_code
		where J.join_check = 'Y' and J.permit_check = 'Y'
		<if test="joinMemberList != null">
		and J.match_no in 
		<foreach collection="matchNo" item="e" open="(" close=")" separator=",">
		#{e}
		</foreach>
		</if>
	</select>
	
	<select id="selectMyMatchNoPermitMemberList" resultMap="joinMember">
		select J.match_no, M.nickname
		from matching_join_member J left join member M on J.member_code = M.member_code
		where J.join_check = 'Y' and J.permit_check = 'N'
		<if test="joinMemberList != null">
		and J.match_no in 
		<foreach collection="matchNo" item="e" open="(" close=")" separator=",">
		#{e}
		</foreach>
		</if>
	</select>
	
	<select id="selectJoinMatchCode" resultMap="joinMember">
		select match_no from matching_join_member where member_code = #{memberCode} and join_check = 'Y' order by match_no desc
	</select>
	
	<select id="selectCityList" resultMap="cityMap">
		select city_code, city_name from city
	</select>
	
	<select id="selectInterestingList" resultMap="interestingMap">
		select interesting_code, interesting_name from interesting
	</select>
	
	<select id="selectLocalList" resultMap="localMap">
		select L.local_code, L.local_name 
		from local L left join city C on L.city_code = C.city_code
		where C.city_code = #{city}
	</select>
	
	<delete id="deleteLightning">
		delete from match_manager where match_no = #{matchNo}
	</delete>
	
	<insert id="insertMatchJoin">
		insert into matching_join_member values (#{matchNo}, #{memberCode}, 'Y', 'N');
	</insert>
	
	<!-- <update id="updatePermit">
		update matching_join_member set 
	</update> -->
	
</mapper>